*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

html ,
body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 15px;
    width: 15px;
    background-color: lime;
    border-radius: 50%;
    z-index: 99;
    position: fixed;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #00ff0038;
    border-radius: 50%;
    z-index: 9;
    filter: blur(60px);
    position: fixed;
}

#nav{
    height: 145px;
    width: 100%;
    padding: 0 150px;
    gap: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 550;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0,0,0,0.37);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 150px;
    font-weight: 600;
    position: relative;
}
#page1 h1::before{
    content: "EAT.DRINK.PLAY.";
    position: absolute;
    color: black;
    top: -7px;
    left: -7px;
     -webkit-text-stroke: 1px lime;   /*width color */
     z-index: -1;
}

#page1 h2{
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

#page1 p{
    font-size: 20px;
    font-weight: 400;
    width: 40%;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    white-space: nowrap; 
     overflow-x: auto;
    overflow-y: hidden; 
    position:relative;
    z-index: 10;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
#scroller ::-webkit-scrollbar{
    display: none;
}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 20px;
    -webkit-text-stroke: 2px lime;
    color: transparent;
    transition: all linear 0.5s;
    
}

#scroller h4:hover{
    color: lime;
    
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 30px;
    object-fit: cover;
}

#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}
#about-us-in p{
    font-size: 20px;
    line-height: 26px;
}

#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    z-index: 10;
}

.card{
    height: 80%;
    width: 22%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    transition: all  ease 0.6s;
}
#card1{
    background-image: url("https://sidcup-golf-family.netlify.app/Assests/card1.avif");
}
#card2{
    background-image: url("https://sidcup-golf-family.netlify.app/Assests/card2.webp");
}
#card3{
    background-image: url("https://sidcup-golf-family.netlify.app/Assests/card3.avif");
}


.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right , grey , pink);
    border-radius: 30px;
    padding-top: 160px;
    padding: 30px;
    opacity: 0;
    transition: all  ease 0.6s;
}
.card:hover .overlay{
    opacity: 1;
}

/* X,Y,Z index , degree */
.card:hover{
    transform: rotate3d(-1,1,0,20deg);    
}

.overlay h4{
    color: black;
    font-size: 30px;
    font-weight: 800;
    /* white-space: nowrap;  */
    margin-bottom: 20px;
    overflow: hidden;
}
.overlay p{
    color: black;
    font-size: 18px;
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(1, 177, 1); */
    background: linear-gradient( to left bottom , #00ff2a , #127c01);
}

#green-div h4{
    width: 50%;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 550;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p{
    font-size: 25px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 60px;
}

#page3 #colon1{
    left: 15%;
    top: 25%;
}
#page3 #colon2{
    right: 15%;
    bottom: 25%;
}


#page4{
    height: 48vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

#page4 h1{
    font-size: 95px;
    position: absolute;
    top: 9%;
    font-weight: 600;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}

.elem{
    width: 25%;
    height: 45%;
    /* object-fit: cover; */
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: #29db06;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #000;
    font-weight: 600;
    position: absolute;
    transition: all ease 0.5s;
    z-index: 10;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.elem:hover h2{
    background: transparent;
    color: #fff;
}

.elem:hover img{
    scale: 1;
}

#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom ,#119F3A , #ACE022);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;

}

#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img{
    height: 100px;
}

#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 2;
}

#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    color: #000;
    font-weight: 600;
    margin-bottom: 8px;
}
#f4 h4{
    font-size: 18px;
    white-space: nowrap;
    color: #000;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}
#f3 h3{
    font-size: 25px;
    white-space: nowrap;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}

